<!DOCTYPE html>

<html lang="en">

  <head>
    <title>FLASK</title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>

    <div class="div">

      <p id="nombreFormulario">Formulario</p>

      <form id="form">
      <input id="nombre" placeholder="Nombre Completo.">
      <input id="rut" placeholder="R.U.T. sin guion">
      <span id="fono_fecha">
        <input id="fecha" placeholder="Seleccionar fecha." readonly>
        <button id="icono_fecha"></button>
      </span>
      <span id="fono_span">
        <p id="prefijo">+56</p>
        <input id="telefono" placeholder="Numero telefonico">
      </span>
      <input id="email" placeholder="e-mail">
      <button type="submit">Enviar</button>
      </form>

    </div>

    <script  src="../static/script.js"></script>

  </body>

</html>
